<!DOCTYPE html>
<html lang="ja">
    <%- include('./header'); %>
    <body>
        <div class="container">
            <div class="row">
                <h1>CloudShelf</h1>
                <div class="p-5 mb-4 bg-light rounded-3">

                      <h2 class="display-5 fw-bold">About CloudShelf</h2>
                      <p class="col-md-12 fs-4">
                        CloudShelfは，オンライン上で手軽に蔵書を管理することができるアプリです。<br>
                        ISBNで書籍を検索することで簡単に持っている書籍を登録することができます。<br>
                        早速サインインして始めましょう！
                    </p>

                  </div>

                <!-- <p><a href="/books">Books</a></p>
                <p><a href="/register">Register</a></p> -->
                <p></p>
            </div>
            
        </div>
        
        
        
    </body>

</html>