<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CloudShelf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">ホーム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">書籍登録</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books">登録書籍一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">マイページ</a>
        </li>
      </ul>
    </div>
  </nav>